#root {
  background-color: #050404;
}

.landing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #c6e3fa;
}

.landing-header {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-footer-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.landing-footer-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.landing h1 {
  font-weight: 800;
  font-size: 6em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  min-width: 50%;
}

.form input,
.form button {
  min-width: 300px;
}

.form button {
  background-color: black;
}

.content {
  background-color: rgba(255, 228, 196, 0.8);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.button {
  color: blue;
}

.landing img {
  margin: 1em;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c6e3fa;
  height: 100vh;
  width: 100vw;
}

.loader {
  max-inline-size: 100%;
}

.title-container h1 {
  color: black;
}
.avatars {
  display: flex;
  gap: 2rem;
}
.avatar {
  border: 0.4rem solid transparent;
  padding: 0.4rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.avatar img {
  height: 6rem;
  transition: 0.5s ease-in-out;
}

.selected {
  border: 0.4rem solid #2f2255;
}
.submit-btn {
  background-color: rgb(54, 54, 110);
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.submit-btn:hover {
  background-color: #50447d;
}

.form-control {
  border: none !important;
}

.cs-chat-container
  .cs-message-input
  .cs-message-input__content-editor-wrapper:last-child {
  margin-right: 0em !important;
}

.cs-conversation-header__avatar {
  width: auto !important;
}
.cs-search__clear-icon {
  visibility: visible !important;
}
.cs-search {
  box-sizing: border-box !important;
  display: flex !important;
  flex-direction: row !important;
  margin: 0 !important;
  background-color: #c6e3fa !important;
  align-items: center !important;
  position: relative !important;
  border-radius: 0.7em !important;
  padding: 0.6em 0.9em !important;
  font-size: inherit !important;
  font-family: inherit !important;
}
#chatSearch {
  margin: 0 0.1em 0.3em !important;
}

.modal-button:hover {
  opacity: 0.9 !important;
  background-color: #3173a5 !important;
  color: white !important;
}
.delete-button:hover {
  background-color: #dc3545 !important;
  color: white !important;
}
.logout-button {
  background-color: #3173a5 !important;
  color: white !important;
  min-width: 40px !important;
  min-height: 40px !important;
}
.logout-button:hover {
  opacity: 0.9 !important;
  background-color: #dc3545 !important;
  color: white !important;
}
.newGroup {
  margin: 0.3em 0.1em !important;
}
.editGroup {
  padding: 0 0.3em !important;
  margin: 0 !important;
  width: auto !important;
  height: 32.375px !important;
}
.selected-user {
  opacity: 1 !important;
  background-color: transparent !important;
  color: #6ea9d7 !important;
  border-color: #6ea9d7 !important;
  margin: 0.1em !important;
  display: inline-flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}
.selectedUsers {
  font-size: 0.5em !important;
  margin-left: 0.4em !important;
  margin-right: -0.4em !important;
  /*margin-top: 0.75em !important; */
}
.selectedUsers:hover {
  opacity: 0.6;
}

@media (min-width: 577px) and (max-width: 768px) {
  .button-text {
    display: none !important;
  }
  .button-icon {
    margin-right: 0 !important;
  }
  /* .newGroup {
    margin: 0.3em 0.1em !important;
  } */
  #chatSearch {
    display: none !important;
  }
}
@media (max-width: 576px) {
  .edit-text {
    display: none !important;
  }
  .landing h1 {
    font-weight: 800;
    font-size: 3em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .landing h2 {
    font-size: 1.3em;
  }
}
@media (max-width: 379px) {
  /* .cs-conversation-header__avatar {
    width: 43px !important;
    height: 43px !important;
  } */
}
